.heat-map-wrapper {
  display: flex;
  gap: 50px;
  padding: 20px 50px ;
  justify-content: center;
  /* align-items: center; */
  background-color: #111a24;
  color: #c9d1d9;
  /* background-color: aqua; */
  margin-left: 30px;
  margin-top: 10rem;
  /* height: 40vh; */
  
}

.year-sidebar {
  min-width: 150px;
  padding: 10px;
  background-color: #161b22;
  border-radius: 6px;
}

.year-sidebar h4 {
  margin-bottom: 10px;
  /* background-color: bisque; */
  font-size: 1.1em;
}

.year-sidebar select {
  width: 100%;
  padding: 8px 20px;
  background-color: #0d1117;
  color: #c9d1d9;
  border: 1px solid #30363d;
  border-radius: 4px;
}

.heat-map-container {
  flex-grow: 1;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  max-width: 100%; /* Ensure it takes full available width */
  /* background-color: blue; */
  padding: 10px 20px;
}

.heat-map-container h4 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* Ensure the heatmap itself can expand */
.HeatMapProfile {
  min-width: 800px; 
  /* Approximate width for 365 days with rectSize 12 and space 2 */
}